
a {
    text-decoration: none;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 22px;
  }
  
img {
    max-width: 100%;
    height: auto;
}
  
body {
    margin: 0;
    overflow-x: hidden;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 22px;
}